<div class="container">
  <h1 align="center">The DAIGLE System</h1>
<h4 align="center">Daily Animal Interaction Gauge & Labor Efficiency</h4>
  <div class="row">
      <div class="daigle col-sm-4 col-sm-offset-4">
        <div align="center"><h5>Designed by</h5></div>
        <div align="center"><img src="https://aglifesciences.tamu.edu/animalscience/wp-content/uploads/sites/14/2016/04/Daigle_web-240x320.jpg"
        width = 200px/></div>
        <div align="center"><h5><a href="https://animalscience.tamu.edu/people/daigle-courtney/">Courtney Lynd Daigle</a>, Ph.D.</h5></div>
        <div align="center"><h6>Animal Behavior & Welfare Laboratory</h6></div>
        <div align="center"><h6>Department of Animal Science</h6></div>
      </div>
  </div>
  <hr>
  <h5 align="center">Implemented by</h5>
  <h4 align="center">Team Fantastic6 from Spring 2018 CSCE 606 Class</h4>
  <h5 align="center">Instructor: <a href="http://faculty.cse.tamu.edu/walker/">Duncan M. (Hank) Walker</a></h5>
  <h5 align="center">Texas A&M University</h5>
  <div class="row">
      <div class="daigle col-sm-2">
        <div align="center"><img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAddAAAAJDg1OWI3YmI5LWFkZWEtNDI4YS1hYzdjLTJkYjRhZjAyODk3Zg.jpg"
        width = 150px/></div>
        <div align="center"><h5><a href="https://www.linkedin.com/in/jiatai-han-03a39810b">Jiatai Han</a></h5></div>
        <div align="center"><h6>MEng, Computer Engineering</h6></div>
        <div align="center"><h6>Texas A&M University</h6></div>
      </div>
      <div class="daigle col-sm-2">
        <div align="center"><img src="https://media.licdn.com/dms/image/C4E03AQGQXg-jpsnAng/profile-displayphoto-shrink_800_800/0?e=1530154800&v=beta&t=YzQjq6GQm4mlnMgtt3rdNqO7bfPGzQ4U0XUbUOz-39I"
        width = 150px/></div>
        <div align="center"><h5><a href="https://www.linkedin.com/in/qianzhenli">Qianzhen Li</a></h5></div>
        <div align="center"><h6>MS, Ocean Engineering</h6></div>
        <div align="center"><h6>Texas A&M University</h6></div>
      </div>
      <div class="daigle col-sm-2">
        <div align="center"><img src="https://media.licdn.com/dms/image/C4D03AQFkDAozAo0AYA/profile-displayphoto-shrink_200_200/0?e=1528740000&v=beta&t=U7qyhjzQREZU-gQpWeMfblKtNtY4RALPsiklKFl4Uwc"
        width = 150px/></div>
        <div align="center"><h5><a href="https://www.linkedin.com/in/huiqing-wang-a50459151">Huiqing Wang</a></h5></div>
        <div align="center"><h6>MEng, Computer Engineering</h6></div>
        <div align="center"><h6>Texas A&M University</h6></div>
      </div>
      <div class="daigle col-sm-2">
        <div align="center"><img src="https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png"
        width = 150px/></div>
        <div align="center"><h5><a href="https://www.linkedin.com/in/ruoguwang1225">Ruogu Wang</a></h5></div>
        <div align="center"><h6>MEng, Computer Engineering</h6></div>
        <div align="center"><h6>Texas A&M University</h6></div>
      </div>
      <div class="daigle col-sm-2">
        <div align="center"><img src="https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png"
        width = 150px/></div>
        <div align="center"><h5><a href="https://www.linkedin.com/in/傲然-许-5530a5154/">Aoran Xu</a></h5></div>
        <div align="center"><h6>MS, Electrical Engineering</h6></div>
        <div align="center"><h6>Texas A&M University</h6></div>
      </div>
      <div class="daigle col-sm-2">
        <div align="center"><img src="https://media.licdn.com/dms/image/C4E03AQEkOi966jxc6Q/profile-displayphoto-shrink_800_800/0?e=1530154800&v=beta&t=ns9Yx0JsfUhQ9pKGrO1Yox3piPfNIbiKMLCj1liznhg"
        width = 150px/></div>
        <div align="center"><h5><a href="https://www.linkedin.com/in/知秋-姚-2b980315b/">Zhiqiu Yao</a></h5></div>
        <div align="center"><h6>MS, Electrical Engineering</h6></div>
        <div align="center"><h6>Texas A&M University</h6></div>
      </div>
  </div>
</div>
