<h1> Daily
Animal Interaction Gauge &Labor Efficiency System</h1>
Created by Team Fantastic6, based on <%= link_to 'Dr. Courtney Daigle', "https://animalscience.tamu.edu/people/daigle-courtney/"%> Daigle's idea.
<div><%= link_to 'Home', root_path%></div>
