<h1 align="center">All Activities</h1>
<% if current_user.cowboy == 1%>
<div class="form-group">
  <div class="col-sm-12">
    <div class="btn">
    <%= link_to "Check-in Activity", new_activity_path, class: 'btn btn-primary btn-lg'%>
    </div>
</div>
</div>
<% end %>
<div align="center">
    <%= will_paginate %>
</div>
<%= render 'activity', obj: @activities%>
<div align="center">
<%= will_paginate %>
</div>
