<div class='container-fluid'>
    <footer class="footer">
        <small>
            Copyright &copy 2018; <%= link_to "Team Fantastic6", about_path %>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>

</div>
